<h2>Mis Universidades</h2>
<ul class="heroes">
  <li *ngFor="let universidad of universidades">
    <a routerLink="/detail/{{universidad.id}}">
      <span class="badge">{{universidad.id}}</span> {{universidad.nombre}}
    </a>
    <button type="button" class="delete" title="delete hero"
      (click)="delete(universidad)">x</button>
  </li>
</ul>
<div>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #universidadName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(universidadName.value); universidadName.value=''">
    Add hero
  </button>
</div>
