h1 {
  color: #D36;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #944;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #833;
  font-family: Cambria, Georgia, serif;
}
button {
  background-color: #F7DDE9;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #A33;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
button:hover {
  background-color: #A33;
  color: white;
}
button:disabled {
  background-color: #F7DDE9;
  color: #CAA;
  cursor: auto;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}