/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
}
nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #F7DDE9;
  color: #833; 
  border-radius: 4px;
}

nav a:hover {
  color: white;
  background-color: #A33; 
}
nav a:active {
  background-color: #944; 
}
