/* HeroDetailComponent's private CSS styles */
label {
  color: #D63384; 
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
button {
  margin-top: 20px;
  background-color: #F7DDE9; 
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #E6B8C7; 
}
button:disabled {
  background-color: #F7DDE9; 
  color: #CCC;
  cursor: auto;
}
